<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .box {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

    </style>
</head>
<body>
    <div class="box">
        @RenderBody()
    </div>
</body>
</html>
