<style>
    * {
        font-family: 'Arial', sans-serif;
    }

    .centered-label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin-right: 10px;
    }

    .input-field {
        width: 45px;
        font-size: 18px;
        margin-right: 6px;
    }

    .form-container {
        display: flex;
    }

    .outer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .action-container {
        text-align: center;
        margin: 7px;
    }

    .styled-button {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: rgb(40, 41, 44);
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;
        border: none;
    }

        .styled-button:hover {
            background-color: rgb(20, 21, 24);
        }

    .regular-button,
    .link {
        width: 100px;
        border: 0px;
        font-size: 18px;
        margin-left: 6px;
    }

    .link {
        width: 60px;
    }

    .result-box {
        border: 2px solid rgb(20, 21, 24);
        border-radius: 8px;
        padding: 15px;
        margin: 15px;
        background-color: #ecf0f1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }

        .result-box p {
            font-size: 18px;
            color: #333;
            margin: 0;
            line-height: 1.5;
        }

    .styled-link {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: rgb(40, 41, 44);
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;
        border: none;
    }

        .styled-link:hover {
            background-color: rgb(20, 21, 24);
        }

    form {
        width: 600px;
    }

    .form-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .form-group {
        margin-right: 20px;
        margin-bottom: 10px;
    }

        .form-group label {
            display: block;
        }

        .form-group input {
            margin-top: 5px;
        }


    .result-box {
        border: 2px solid rgb(20, 21, 24);
        border-radius: 8px;
        padding: 15px;
        margin: 15px;
        background-color: #ecf0f1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }

        .result-box p {
            font-size: 18px;
            color: #333;
            margin: 0;
            line-height: 1.5;
        }
</style>

    <div class="outer-container">
        <div class="result-box">
            <h1 class="heading">Source Text:</h1>
            <p>@ViewBag.Content</p>
        </div>

        <div class="action-box">
            <div class="action-container">
                <div class="form-row">
                <form method="post" asp-action="Encrypt" asp-controller="Gamma">
                        <input type="hidden" id="FilePath" name="FilePath" value="@ViewBag.FilePath">

                        <label for="KEY" class="centered-label">Step:</label>
                        <input name="KEY" class="input-field">

                        <button type="submit" class="styled-button">Encrypt</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

